<div data-gpa="email-wrap" class="gpa-email-block">
  <div class="gpa-email-input-wrap">
    <input data-gpa="email" type="email" placeholder="Please, enter your email to see the result" class="gpa-input gpa-email-input selectize-input"/>
    <span data-gpa="email-msg" class="gpa-invalid-email-msg" style="display:none;" >Please, enter correct email to see the result</span>
  </div>
  <button data-gpa="email-send-btn" disabled="disabled" class="gpa-btn gpa-btn-green gpa-email-btn">Send</button>
</div>
